/*** Generic CSS ***/
@font-face
{
    font-family: 'font_regular';
    src: url('fonts/notosans-regular-webfont.eot');
    src: url('fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/notosans-regular-webfont.woff') format('woff'), url('fonts/notosans-regular-webfont.ttf') format('truetype'), url('fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{ display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after
{
    content: '';
    content: none;
}
table { border-collapse: collapse; border-spacing: 0; }
/* end */
html, body
{
    height: 100%;
    /* overflow: hidden; */
    font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    font-size: 1em;
}
a { color: #656D6D; text-decoration: underline; }
a:hover { color: #146C87; text-decoration: underline; }
h1 { font-weight: bold; }
h2 { font-weight: normal; }
h3 { font-weight: normal; }
h4 { font-weight: normal; font-size: 0.8em; }
h5 { font-weight: normal; font-size: 0.65em; }
h6 {  font-weight: normal; }
ul { list-style: none; }
input, textarea
{
    padding: 2px;
    border-color: #A6A6A6 #E1E1E1 #E1E1E1 #A6A6A6;
    border-style: solid;
    border-width: 1px;
    color: #656D6D;
}
input[type="file"] { border: 0 none; }
button { cursor: pointer; color: #1D2426; }

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
button:hover { color: #146C87; }
ol { list-style-position: inside; }

/* C360 Defaults */
html,body { height: 100%; }
body {
    font-family: "segoe ui";
    font-size: 1.5em;
}
a:hover { text-decoration: none; }
li { display: block }
.f-left             { float: left; }
.c-left             { clear: left; }
.f-right            { float: right; }
.c-right            { clear: right; }
.c-both             { clear: both; }
.white              { color: white; }

.sub-heading        { margin: 0 auto; }
.containContent     { max-width: 1170px; margin: 0 auto; padding: 0 0.5em; }
/* Top Section */
header              { background: #FFF; }
.ident-section      { padding: 0.5em 0 0.5em 0; display: block; }
.ident-section h1,
.ident-section h2   { display: inline-block; height: 87px; overflow: hidden; text-indent: -9999px; }
.ident-section h1   { width: 314px; background: url(../images/logo.png) 0 0 no-repeat; }
.ident-section h2   { width: 276px; background: url(../images/logo_slogan.png) 0 0 no-repeat; }
/* Main Image Section */
.mainIdent          { position: relative; background: #FF3300; height: 487px; background: url(../images/image-bg.png) 0 0 repeat-x; text-align: center; }
/*.mainIdent img      { position: relative; margin: 0.55em auto 0; max-width: 1661px; width: 100%; }*/
.mainIdent img {
    position: relative;
    bottom: -0.5em;
    /* left: 50%; */
    /* margin-left: -830px; */
    margin: 0 auto;
    width: 100%;
    max-width: 1661px;

}
.subHeader          { background: #1F1E1E; text-align: center; color: #CDCDCD; padding: 0.5em 1em; }
.subHeader h3 img   { width: 314px; height: 123px; margin: 0.3em auto; }
.subHeader h4       { margin: 0.6em 0; line-height: 130%; }
.subHeader h5       { margin: 0.6em 0; line-height: 130%; }
.content            { background: #353535; color: #CDCDCD; padding: 0.7em 0; }
.content a, .content strong { color: #CDCDCD; font-weight: bold; }
.content a:hover    { color: #FF5500; text-decoration: underline; }
/*.content p a          { display: inline-block; background-color: #FF3300; padding: 0 4px 3px 4px; text-decoration: none; color: #353535; }*/
.content-article    { width: 48%; }
.content-article .event-image { width: 100%; border: 3px solid #CDCDCD; margin: 0 0 0.5em; }
.content-article.article-left          { float: left; }
.content-article.article-right         { float: right; }
.content h6 img     { width: 458px; height: 109px; }
.content p.date-heading      { font-size: 0.8em; font-weight: bold; margin: 0 0 0.8em; color: #FF5500; }
.content p                   { font-size: 0.65em; line-height: 1.5em; font-weight: normal; margin: 0 0 0.8em; }

.archive-title { margin: 0.8em auto; }
.archive-page .content-article { width: 100%; }
.archive-page .content-article p { font-style: italic; }
.archive-page .content-article .event-image { width: auto; max-width: 40%; float: right; margin-left: 1em; }

.dotted-line-break  { display: block; height: 1px; width: auto; border-bottom: 2px dashed #CDCDCD; margin: 0.9em 0; }

.follow-twitter     { width: 162px; height: 105px; }
.follow-twitter-2   { width: 162px; height: 105px; display: none; }
.follow-2           { display: none; text-align: center; }
#map                { height: 100%; width: 100%; /* max-width: 1170px; */ margin: 0 auto; }

/* Screen width variations */
@media only screen
and (max-width : 970px) {
    .content-article    { width: 100%; float: none; }
    .content-article .event-image, .archive-page .content-article .event-image { width: auto; max-width: 50%; float: right; margin-left: 1em; }
    .content h6 img { max-width: 100%; height: auto; }
    .content .events-archive img {max-width: 100%; height: auto; }
}
@media only screen
and (max-width : 690px) {
    .follow-twitter { display: none; }
    .follow-2       { display: block; text-align: center; }
    .follow-twitter-2 { display: inline-block; margin: 0.3 auto; }
}
@media only screen
and (max-width : 615px) {
    .ident-section { text-align: center; }
    .ident-section h1 { float: none; margin: 0 auto; width: 233px; height: 145px; background: url(../images/logo_small.png) 0 0 no-repeat; }
    .ident-section h2 { display: none; }
    .mainIdent img { display: none; }
    .subHeader { padding: 0.5em 0;}
    .subHeader h4, .subHeader h5 { text-align: left; }
    .subHeader h3 img { max-width: 60%; height: auto; }
    .content-article .event-image, .archive-page .content-article .event-image { max-width: calc(100% - 0.3em); float: none; margin-left: 0; }
    .content-article.article-left { border-bottom: 2px dashed #CDCDCD; margin-bottom: 0.9em }
    .content h6 { max-width: 100%; }
}
footer { background: #353535; text-align: center; height: 80%;  }

/* Gallery */
.rg-image-wrapper{
    position:relative;
    padding:20px 30px;
    background:transparent url(../images/black.png) repeat top left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
}
.rg-image img{
    max-height:100%;
    max-width:100%;
    border: 2px solid #CDCDCD;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:#1F1E1E url(../images/nav.png) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
    opacity:0.8;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
}
.rg-caption p{
    font-size:11px;
    letter-spacing:2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
    margin-bottom: 0;
}
.rg-view{
    height:30px;
    display: none;
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#1F1E1E url(../images/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#1F1E1E;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../images/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}

/* Elastislide Style */
.es-carousel-wrapper{
    background: #1F1E1E;
    padding:10px 27px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position:relative;
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    position:relative;
    margin-bottom:20px;
}
.es-carousel{
    overflow:hidden;
    background: #1F1E1E;
}
.es-carousel ul{
    display:none;
}
.es-carousel ul li{
    height:100%;
    float:left;
    display:block;
}
.es-carousel ul li a{
    display:block;
    border-style:solid;
    /*border-color:#222;*/
    opacity:0.8;
    -webkit-touch-callout:none;
    /* option */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
    border-color:#fff;
    opacity:1.0;
}
.es-carousel ul li a img{
    display:block;
    border:none;
    max-height:100%;
    max-width:100%;
}
.es-nav span{
    position:absolute;
    top:50%;
    left:8px;
    background:transparent url(../images/nav_thumbs.png) no-repeat top left;
    width:14px;
    height:26px;
    margin-top:-13px;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.8;
}
.es-nav span.es-nav-next{
    right:8px;
    left:auto;
    background-position:top right;
}
.es-nav span:hover{
    opacity:1.0;
}